<% if admin? %>
  <div class="card_spacer"></div>

  <div class="card" align="center">
    <%= link_to "New content", new_post_path, class: :top_right_link %>
    <%= link_to "Log out", sessions_destroy_path, method: :delete, class: :bottom_left_link %>
    <p>Admin Section (<%= current_user.name %>)</p>
    
    <p>
      Contacts received (<%= link_to "#{Contact.where(seen: nil).size.to_s} unseen", contacts_path %>)
    </p>
  </div>
  
  <% for post in @posts %>
    <div class="card" align="center">
      <%= link_to "Edit#{ post.tag.present? ? ' (' + post.tag + ')' : nil}",
        edit_post_path(post), class: :top_right_link %>
      <%= link_to "Delete", post_path(post), method: :delete, class: :bottom_left_link, data: { confirm: "Are you sure?" } %>
      <p class="justified_body_text" style="width: 95%;">
        <%= post.body %>
      </p>
      
      <%= image_tag post.image, width: "95%" if post.image.present? %>
    </div>
  <% end %>
<% end %>
