<div class="section_part" id="about_us_section">
  <center>
    <h2 class= "h2about">About Us</h2>
    </br>
    <div class= "divmain_about">
      <div class= "div1_about">
        <%= image_tag "/images/little_surveyor.png", class: :about_us_photo %>
        <p><%= post_text("about_us_p1") %> <%= link_to "Edit", edit_post_by_tag_path("about_us_p1") if admin? %></p>
        <p><%= post_text("about_us_p2") %> <%= link_to "Edit", edit_post_by_tag_path("about_us_p2") if admin? %></p>
      </div>
      <div class= "div2_about">
        <p><%= post_text("about_us_p3") %> <%= link_to "Edit", edit_post_by_tag_path("about_us_p3") if admin? %></p>
        </br>
      </div>
    </div>
  </center>
</div>
