<div class="section_part" id="about_us_section">
  <center>
    <h2 class= "h2about">ABOUT US</h2>
    <div class= "divmain_about">
    <p>
    <div class= "div1_about">
      <p class="about_us_text_1 justified_body_text">
        <%= post_text("about_us_p1") %> <%= link_to "Edit", edit_post_by_tag_path("about_us_p1") if admin? %>
      </p>
      <%= image_tag "/images/little_surveyor.png", class: :about_us_photo %>
      GSC Surveying, Inc. was started in Raleigh, North Carolina in September of 1999 by Gregory Scott Crowder.  Originally concentrating on highway construction surveying, GSC Surveying has expanded surveying services to include construction, commercial design surveys, 3D modeling, 3D scanning and UAV (Unmanned Air Vehicle) services throughout North Carolina, South Carolina and Virginia.
</br>  </br> 
GSC Surveying is a second generation surveying company with over fifty years of combined experience.  Greg began surveying in Virginia at the age of 9 with his father, Gene Crowder, who owned L.E. Crowder Construction, Inc.  He worked every summer with his father, learning the profession, until graduation from Old Dominion University in 1992.
    <br>
    <ln>
    </div>
    <div class= "div2_about">
      <p class="about_us_text_1 justified_body_text">
        <%= post_text("about_us_p2") %> <%= link_to "Edit", edit_post_by_tag_path("about_us_p2") if admin? %>
      </p>
      <p>
    GSC is a certified Small Professional Serices Firm (NCDOT) and is registered with the System for Award Management (SAM) for Federal contracting.
    </p>
  <p>  GSC Surveying applies traditional techniques with today's technology to provide our clients with the best service possible.  We understand the construction industry and make every effort to keep our clients moving forward.
  </p>
    </div>
    </div>
  </center>
</div>
