<div class="section_part" id="clients_section">
  <h2 class="clients_h2">Clients</h2>
  <div class="clients_logos">
    <div>
      <%= link_to image_tag('clients/apac.png', class: "clients_logo"), 'http://www.apac.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/ashland.gif', class: "clients_logo"), 'http://www.ashlandconstruction.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/balfour_beatty.gif', class: "clients_logo"), 'https://www.balfourbeatty.com/' %>
    </div>
    <div>
      <%= link_to image_tag('clients/barnhill.png', class: "clients_logo"), 'http://www.barnhillcontracting.com/' %>
    </div>
    <div>
      <%= link_to image_tag('clients/bmco.jpg', class: "clients_logo"), 'http://www.bmcoconstruction.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/branscome.png', class: "clients_logo"), 'http://www.branscome.com' %>
    </div>

    <div>
      <%= link_to image_tag('clients/ccmagnum.jpg', class: "clients_logo"),
        'https://www.linkedin.com/company/c-c-mangum-consulting' %> 
    </div>
    <div>
      <%= link_to image_tag('clients/dhgc.jpg', class: "clients_logo"), 'http://www.dhgc.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/english.jpg', class: "clients_logo"), 'http://www.englishconst.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/epstein.png', class: "clients_logo"), 'http://www.epsteinglobal.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/flatiron.png', class: "clients_logo"), 'http://www.flatironcorp.com' %> 
    </div>
    <div>
      <%= link_to image_tag('clients/fredsmith.jpg', class: "clients_logo clients_logo_fredsmith"),
        'http://www.fredsmithcompany.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/kimley_horn_logo.png', class: "clients_logo"), 'http://www.kimley-horn.com/' %>
    </div>
    <div>
      <%= link_to image_tag('clients/lane1.png', class: "clients_logo"), 'http://www.laneconstruct.com' %> 
    </div>
    <div>
      <%= link_to image_tag('clients/lee.png', class: "clients_logo"), 'http://www.leecarolinas.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/skanska.png', class: "clients_logo"), 'http://www.skanska.com' %>
    </div>
    <div>
      <%= link_to image_tag('clients/smith_sinnett_logo.png', class: "clients_logo"), 'http://smithsinnett.com/' %>
    </div>
  </div>
  <div>
    <%= link_to image_tag('clients/stwooten.jpg', class: "clients_logo_wooten"), 'http://www.stwcorp.com' %>
  </div>
</div>
