<div class="section_part" id="clients_section">
 <center>
 <br>
  <div class="clients_header">
   <h2 class="clients_h2">A selection of the people we work with</h2>
  </div>
  <div class="clients_logos">
   <div>
    <%= link_to image_tag('clients/apac.GIF', class:"cl_logo"), 'http://www.apac.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/ashland.gif', class:"cl_logo"), 'http://www.ashlandconstruction.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/balfour_beatty.gif', class:"cl_logo"), 'https://www.balfourbeatty.com/' %>
   </div>
   <div>
    <%= link_to image_tag('clients/barnhill.jpg', class:"cl_logo"), 'http://www.barnhillcontracting.com/' %>
   </div>
   <div>
    <%= link_to image_tag('clients/bmco.jpg', class:"cl_logo"), 'http://www.bmcoconstruction.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/branscome.jpg', class:"cl_logo"), 'http://www.branscome.com' %>
   </div>

   <div>
   <%= link_to image_tag('clients/ccmagnum.jpg', class:"cl_logo"), 'https://www.linkedin.com/company/c-c-mangum-consulting' %> 
   </div>
   <div>
    <%= link_to image_tag('clients/dhgc.jpg', class:"cl_logo"), 'http://www.dhgc.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/english.jpg', class:"cl_logo"), 'http://www.englishconst.com' %>
   </div>

   <div>
   <%= link_to image_tag('clients/flatiron.jpg', class:"cl_logo"), 'http://www.flatironcorp.com' %> 
   </div>
   <div>
    <%= link_to image_tag('clients/fredsmith.jpg', class:"cl_logo"), 'http://www.fredsmithcompany.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/key.gif', class:"cl_logo"), 'http://www.keyconstructionco.com' %>
   </div>

   <div>
   <%= link_to image_tag('clients/lane.png', class:"cl_logo"), 'http://www.laneconstruct.com' %> 
   </div>
   <div>
    <%= link_to image_tag('clients/lee.gif', class:"cl_logo"), 'http://www.leecarolinas.com' %>
   </div>
   <div>
    <%= link_to image_tag('clients/skanska.gif', class:"cl_logo"), 'http://www.skanska.com' %>
   </div>

   <div>
    <%= link_to image_tag('clients/stwooten.jpg', class:"cl_logo"), 'http://www.stwcorp.com' %>
   </div>
  </div>

  </div>
 </center>	
<div class="section_spacer">
</div>
