<div class="section_part" id="clients_section">
  <h2 class="clients_h2">Clients</h2>
  <div class="clients_logos">
    <div>
      <%= link_to image_tag(post_img("clients_apac"), class: "clients_logo"), post_url("clients_apac") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_apac") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_ashland"), class: "clients_logo"), post_url("clients_ashland") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_ashland") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_balfour_beatty"), class: "clients_logo"), post_url("clients_balfour_beatty") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_balfour_beatty") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_barnhill"), class: "clients_logo"), post_url("clients_barnhill") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_barnhill") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_bmco"), class: "clients_logo"), post_url("clients_bmco") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_bmco") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_branscome"), class: "clients_logo"), post_url("clients_branscome") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_branscome") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_dhgc"), class: "clients_logo"), post_url("clients_dhgc") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_dhgc") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_english"), class: "clients_logo"), post_url("clients_english") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_english") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_epstein"), class: "clients_logo"), post_url("clients_epstein") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_epstein") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_flatiron"), class: "clients_logo"), post_url("clients_flatiron") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_flatiron") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_fredsmith"),
        class: "clients_logo clients_logo_fredsmith"), post_url("clients_fredsmith") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_fredsmith") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_kimley_horn"), class: "clients_logo"), post_url("clients_kimley_horn") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_kimley_horn") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_lane"), class: "clients_logo"), post_url("clients_lane") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_lane") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_lee"), class: "clients_logo"), post_url("clients_lee") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_lee") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_skanska"), class: "clients_logo"), post_url("clients_skanska") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_skanska") if admin? %>
    </div>
    <div>
      <%= link_to image_tag(post_img("clients_smith_sinnett"), class: "clients_logo"), post_url("clients_smith_sinnett") %>
      <%= link_to "Edit", edit_post_by_tag_path("clients_smith_sinnett") if admin? %>
    </div>
  </div>
  <div>
    <%= link_to image_tag(post_img("clients_stwooten"), class: "clients_logo_wooten"), post_url("clients_stwooten") %>
    <%= link_to "Edit", edit_post_by_tag_path("clients_stwooten") if admin? %>
  </div>
</div>
