<div class="section_part" id="clients_section">
 <center>
 <br>
  <div class="clients_header">
   <h2 class="clients_h2">A selection of the people we work with</h2>
  </div>
  <div class="clients_logos">
   <div>
    <%= link_to image_tag('apac.GIF', class:"apac_logo"), 'http://www.apac.com' %>
   </div>
   <div>
    <%= link_to image_tag('ashland.gif', class:"ashland"), 'http://www.ashlandconstruction.com' %>
   </div>
   <div>
    <%= link_to image_tag('balfour_beatty.gif', class:"balfour"), 'http://www.bbinfrastructureinc.com' %>
   </div>
  </div>

   <br>

  <div class="clients_logos">
   <div>
    <%= link_to image_tag('barnhill.jpg', class:"barnhill"), 'http://www.barnhill.com' %>
   </div>
   <div>
    <%= link_to image_tag('bmco.jpg', class:"bmco"), 'http://www.bmcoconstruction.com' %>
   </div>
   <div>
    <%= link_to image_tag('branscome.jpg', class:"branscome"), 'http://www.branscome.com' %>
   </div>
  </div>

   <br>

  <div class="clients_logos">
   <div>
   <%= link_to image_tag('ccmagnum.jpg', class:"ccmagnum"), 'http://www.ccmagnum.com' %> 
   </div>
   <div>
    <%= link_to image_tag('dhgc.jpg', class:"dhgc_logo"), 'http://www.dhgc.com' %>
   </div>
   <div>
    <%= link_to image_tag('english.jpg', class:"english"), 'http://www.englishconst.com' %>
   </div>
  </div>
  
   <br>

  <div class="clients_logos">
   <div>
   <%= link_to image_tag('flatiron.jpg', class:"flatiron"), 'http://www.flatironcorp.com' %> 
   </div>
   <div>
    <%= link_to image_tag('fredsmith.jpg', class:"fredsmith"), 'http://www.fredsmithcompany.com' %>
   </div>
   <div>
    <%= link_to image_tag('key.gif', class:"key_logo"), 'http://www.keyconstructionco.com' %>
   </div>
  </div>
  
   <br>

  <div class="clients_logos">
   <div>
   <%= link_to image_tag('lane.png', class:"lane_logo"), 'http://www.laneconstruct.com' %> 
   </div>
   <div>
    <%= link_to image_tag('lee.gif', class:"lee_logo"), 'http://www.leecarolinas.com' %>
   </div>
   <div>
    <%= link_to image_tag('skanska.gif', class:"skanska"), 'http://www.skanska.com' %>
   </div>
  </div>

  <br>
  
  <div class="clients_logos">
   <div>
    <%= link_to image_tag('stwooten.jpg', class:"stwooten"), 'http://www.stwcorp.com' %>
   </div>
  </div>
   <br>


  </div>
 </center>	
<div class="section_spacer">
</div>
