<div class="contact_form">
  <% @contact = Contact.new %>
  <%= form_for(@contact) do |f| %>
    <div align="center">
      <p>
        <%= f.text_field :name, placeholder: "Name", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :organization, placeholder: "Organization", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :work_phone, placeholder: "Work phone", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :home_phone, placeholder: "Home phone", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :fax, placeholder: "Fax", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :email, placeholder: "E-mail", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_field :url, placeholder: "URL", class: :standard_text_field %>
      </p>
      <p>
        <%= f.text_area :comments, placeholder: "Comments", class: :standard_text_field %>
      </p>
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b>Submit <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
