<div class="section_part_contact_us" id="contact_us_section">
  <%= render "welcome/contact_form" %>
  
  <div class= "wrapper_contacts"> 
  <div class= "facebook_icon" >
    <%= link_to "http://www.facebook.com" do %>
      <%= image_tag "icons/facebook.png", width: "70%" %>
    <% end %>
  </div>
  <div class="twitter_icon">
    <%= link_to "http://www.twitter.com" do %>
      <%= image_tag "icons/twitter.png", width: "70%" %>
    <% end %>
  </div>
  <div class="instagram_icon">
    <%= link_to "http://www.instagram.com" do %>
      <%= image_tag "icons/instagram.png", width: "70%" %>
    <% end %>
  </div> <div class="company_emails">
    <p id="company_emails">
      Greg S. Crowder, President
      Registered Land Surveyor
      <a id="email_link" href="mailto:greg@gscsurveying.com">greg@gscsurveying.com </a>
</br>
      Benjamin Andrews </br>
     <a id="email_link" href="mailto:ben@gscsurveying.com">ben@gscsurveying.com</a>
</br>
      Austin McCleery </br>
      <a id="email_link" href="mailto:austin@gscsurveying.com">austin@gscsurveying.com</a>
</br>
      Liz Carpenter Bayer, Office Manager </br>
      <a id="email_link" href="mailto:liz@gscsurveying.com"> liz@gscsurveying.com </a>
    </p>
  </div>
  </div>
  <div class="google_maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.7142925526628!2d-78.63260468473706!3d35.83148498015967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58ea71c6eb91%3A0x6b3df7bae78983ea!2sGSC+Surveying+Inc!5e0!3m2!1sen!2sus!4v1485914436090" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
<div class="section_spacer"></div>
