<div class="section_part" id="contact_us_section">
  <h2 class="contact_us_h2">Contact Us</h2>
  <div class="wrapper_contacts">
    <div class="company_emails">
      <% for contact in @contacts %>
        <div>
          <%= post_text(contact.tag) %> <%= link_to "Edit", edit_post_by_tag_path(contact.tag) if admin? %>
        </div>
        <%= link_to post_url(contact.tag), "mailto:#{post_url(contact.tag)}", class: :email_link %>
      <% end %>
    
      <% if admin? %>
        </br>
        <p align="center">
          <%= link_to "Add a project",
            edit_post_by_tag_path(tag: "#{'contact_' + (Post.where(section: :contacts).size + 1).to_s}", section: :contacts) %>
        </p>
      <% end %>
    
      <div class="office_details">
        <%= post_text("office_address") %> <%= link_to "Edit", edit_post_by_tag_path("office_address") if admin? %>
        </br>
        O:&#160&#160<%= post_text("office_number") %> <%= link_to "Edit", edit_post_by_tag_path("office_number") if admin? %>
      </div>
    </div>
  </div>
  <%= render "welcome/contact_form" %>
  <div class="google_maps" align="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.7142925526628!2d-78.63260468473706!3d35.83148498015967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58ea71c6eb91%3A0xbf08027108a06261!2s4072+Barrett+Dr%2C+Raleigh%2C+NC+27609!5e0!3m2!1sen!2sus!4v1493996095594" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
