<div class="dialog_modal" id="dialog_modal">
  <div class="<%= service.include?('project') ? 'project_card' : 'card' %>" id="project_card" align="center">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, close_dialog_path, remote: true, class: :top_right_link %>
    <% case service %>
      <% when "project_1" %>
        <p class="project_title">
          <%= @project.title %>
        </p>
        <% for image in @project_images %>
          <div class="project_img_container">
            <%= link_to show_project_image_path(image.id), remote: true do %>
              <%= image_tag image.image, class: :project_img %>
            <% end %>
          </div>
        <% end %>
      <% when "1" %>
        <p>
          Construction layout for clearing limits, slope staking, fine grading, pipe, drainage structures, bridges, MSE walls, retaining walls, box culverts, storm water management ponds, building pads, Right-of-Way Monuments, controlled access fencing, etc.
        </p>
        <p>
          Construction projects for NCDOT and VDOT new locations, design builds, and urban widening
        </p>
        <p>
          Large commercial site complexes, warehouses, and parking lots
        </p>
        <p>
          Bridge layouts, new construction, and replacements
        </p>
        <p>
          Building construction for schools, shopping centers, and manufacturing plants
        </p>
        <p>
          Subdivisions
        </p>
        <p>
          Airports
        </p>
        <p>
          Dams/Lakes/Ponds
        </p>
      <% when "2" %>
        <p>
          3D Modeling for use with the GPS Machine Control on Highway and Commercial Sites
        </p>
        <p>
          Digital Terrain Models (DTM) for mass hauling and fine grading using most up-to-date modeling
        </p>
        <p>
          Color coded line-work of Edge of Pavements, Curb & Gutter, Pipe, Drainage Structures, Utilities, etc.
        </p>
        <p>
          Create Cut/Fill Maps for Pipe and Utility Depths
        </p>
      <% when "3" %>
        <p>
          Setup of initial control network
        </p>
        <p>
          Setup of control for millimeter GPS
        </p>
        <p>
          Periodic checks for quality control throughout duration of project
        </p>
        <p>
          Supply original ground topography for accurate quantities and final results
        </p>
        <p>
          Provide intermediate surveys for progress payments and checks on production
        </p>
      <% when "4" %>
        <p>
          Preliminary engineering projects
        </p>
        <p>
          Quantity calculations on construction projects
        </p>
        <p>
          Borrow pit surveys
        </p>
      <% when "5" %>
        <p>
          Arial photography
        </p>
        <p>
          Highway and commercial sites
        </p>
        <p>
          3D machine control
        </p>
      <% when "6" %>
        <p>
          As-built surveys
        </p>
        <p>
          ALTA Land Title Surveys
        </p>
        <p>
          Boundary surveys
        </p>
    <% end %>
  </div>
  <div id="project_img_anchor"></div>
</div>
