<div class="dialog_modal" id="dialog_modal">
  <div class="<%= service.include?('project') ? 'project_card' : 'card' %>" id="project_card" align="center">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, close_dialog_path, remote: true, class: :top_right_link %>
    <% case service %>
      <% when "project_1" %>
        <%= link_to "Edit project", edit_post_by_tag_path(@project.tag), class: :top_left_link %>
        <p class="project_title">
          <%= @project.title %>
        </p>
        <% for image in @project_images %>
          <div class="project_img_container">
            <%= link_to show_project_image_path(image.id), remote: true do %>
              <%= image_tag image.image, class: :project_img %>
            <% end %>
            <%= link_to "Edit", edit_post_path(image) if admin? %>
          </div>
        <% end %>
        <%= link_to "Add another image",
          edit_post_by_tag_path(tag: "#{@project.tag + '_img' + (Post.all.size + 1).to_s}", project: @project.tag) %>
      <% when "1" %>
        <p>
          Heavy Civil
        </p>
        <p>
          Highways
        </p>
        <p>
          Bridges
        </p>
        <p>
          Commercial Sites
        </p>
        <p>
          Utilities Layout Asbuilt
        </p>
      <% when "2" %>
        <p>
          Boundary
        </p>
        <p>
          Topographic
        </p>
        <p>
          ALTA/ACSM
        </p>
        <p>
          Location Surveys
        </p>
        <p>
          Geodetic & Site Survey Control
        </p>
        <p>
          Right-of-way, Easements & Utility Corridors
        </p>
        <p>
          Residential Subdivisions
        </p>
        <p>
          GIS Data Acquisition
        </p>
        <p>
          Commercial Developments
        </p>
        <p>
          Industrial & Airports
        </p>
        <p>
          Medical & Education Facilities
        </p>
        <p>
          Municipal, County, Sate & Federal
        </p>
      <% when "3" %>
        <p>
          Setup of initial control network
        </p>
        <p>
          Setup of control for millimeter GPS
        </p>
        <p>
          Periodic checks for quality control throughout duration of project
        </p>
        <p>
          Supply original ground topography for accurate quantities and final results
        </p>
        <p>
          Provide intermediate surveys for progress payments and checks on production
        </p>
      <% when "4" %>
        <p>
          Preliminary engineering projects
        </p>
        <p>
          Quantity calculations on construction projects
        </p>
        <p>
          Borrow pit surveys
        </p>
      <% when "5" %>
        <p>
          Arial photography
        </p>
        <p>
          Highway and commercial sites
        </p>
        <p>
          3D machine control
        </p>
      <% when "6" %>
        <p>
          As-built surveys
        </p>
        <p>
          ALTA Land Title Surveys
        </p>
        <p>
          Boundary surveys
        </p>
    <% end %>
  </div>
  <div id="project_img_anchor"></div>
</div>
