<div class="section_part" id="links_section">
  <h2 class="links_header">
    Links
  </h2>
  
  <div class="links_container">
    <div class="links_sub_container" align="left">
      <%= link_to post_url("links_cor"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_cor"), class: :links_link_img %>
        <%= post_text("links_cor") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_cor") if admin? %>
      
      <%= link_to post_url("links_wake"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_wake"), class: :links_link_img %>
        <%= post_text("links_wake") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_wake") if admin? %>
      
      <%= link_to post_url("links_ncfloodmaps"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_ncfloodmaps"), class: :links_link_img %>
        <%= post_text("links_ncfloodmaps") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_ncfloodmaps") if admin? %>
      
      <%= link_to post_url("links_fema"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_fema"), class: :links_link_img %>
        <%= post_text("links_fema") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_fema") if admin? %>
      
      <%= link_to post_url("links_ncboe"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_ncboe"), class: :links_link_img %>
        <%= post_text("links_ncboe") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_ncboe") if admin? %>
    </div>
    <div class="links_sub_container" align="left">
      <%= link_to post_url("links_ncss"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_ncss"), class: :links_link_img %>
        <%= post_text("links_ncss") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_ncss") if admin? %>
      
      <%= link_to post_url("links_geodectic"), target: :_blank, class: :links_link do %>
        <%= image_tag post_img("links_geodectic"), class: :links_link_img %>
        <%= post_text("links_geodectic") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_geodectic") if admin? %>
      
      <%= link_to post_url("links_go"), target: :_blank, class: "links_link links_link_go" do %>
        <%= image_tag post_img("links_go"), class: "links_link_img links_link_img_go" %>
        <%= post_text("links_go") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_go") if admin? %>
      
      <%= link_to post_url("links_supply"), target: :_blank, class: "links_link links_link_go" do %>
        <%= image_tag post_img("links_supply"), class: :links_link_img %>
        <%= post_text("links_supply") %>
      <% end %>
      <%= link_to "Edit", edit_post_by_tag_path("links_supply") if admin? %>
    </div>
  </div><!-- links_container end -->
</div><!-- section_part end -->
