<div class="section_part" id="projects_section" align="center">
  <%= image_tag "tripodhightech.jpg", class: :services_bg_img %>
  <div class="clients_header">
   <h2 class="clients_h2">Projects</h2>
  </div>
  <% for project in @projects %>
    <%= link_to services_dialog_path(project.tag), remote: true do %>
      <div class="project_container" align="center">
        <p class="project_title">
          <%= project.title %>
        </p>
        <div
          class="<%= justified_body project %> project_body <%= @projects.last.eql?(project) ? nil : 'project_body_border'  %>">
          <%= project.body %>
        </div>
      </div>
    <% end %>
    <% if admin? %>
      <p><%= link_to "Edit", edit_post_by_tag_path(project.tag) %></p>
    <% end %>
  <% end %>
  
  <% if admin? %>
    </br>
    <p>
      <%= link_to "Add a project",
        edit_post_by_tag_path(tag: "#{'project_' + (Post.where(section: :projects).size + 1).to_s}", section: :projects) %>
    </p>
  <% end %>
</div>
