<div class="section_part" id="services_section">
  <%= image_tag "construction.jpg", class: :services_bg_img %>
  <h2 class="services_header">Services we provide</h2>
  <div class="service_dialog_links">
    <%= link_to services_dialog_path("1"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        Construction
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("2"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        3D Modeling
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("3"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        Onsite Tech Support
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("4"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        Topographic Surveying
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("5"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        Horizontal and Vertical Control Surveys
      </div>
    <% end %>
    
    <%= link_to services_dialog_path("6"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        Location Surveys for Engineering and Design
      </div>
    <% end %>
  </div>
</div>
