<div class="section_part_services" id="services_section">
<h1 class="services_header">Services we provide</h1>
  <%= image_tag "construction.jpg", class: :services_bg_img %>
 
  <div class="service_dialog_links">
    <%= link_to services_dialog_path("1"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        <div class="service_link_txt">
          Construction Surveying
        </div>
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("2"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        <div class="service_link_txt">
          Traditional Land Surveying
        </div>
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("3"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        <div class="service_link_txt">
          UAV (Drone) and 3D Scanning
        </div>
      </div>
    <% end %>
  
    <%= link_to services_dialog_path("4"), remote: true do %>
      <div class="service_dialog_link_container" align="center">
        <div class="service_link_txt">
          3D Modeling
        </div>
      </div>
    <% end %>
  </div>
</div>
