<div class="section_part" id="services_section">
  <div class="clients_header">
   <h2 class="clients_h2">Services we provide</h2>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("1"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        Construction
      </div>
    <% end %>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("2"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        3D Modeling
      </div>
    <% end %>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("3"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        Onsite Tech Support
      </div>
    <% end %>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("4"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        Topographic Surveying
      </div>
    <% end %>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("5"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        Horizontal and Vertical Control Surveys
      </div>
    <% end %>
  </div>
  <div class="services_img_container" align="center">
    <%= link_to services_dialog_path("6"), remote: true do %>
      <%= image_tag "calmness.jpg", class: :services_img %>
      <div class="services_img_txt">
        Location Surveys for Engineering and Design
      </div>
    <% end %>
  </div>
</div>
<div class="section_spacer"></div>
