<div class="section_part" id="services_section">
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
  <div class="services_img_container">
    <%= image_tag(post_img("contruction_3d_img")), class: :services_img %>
  </div>
</div>
<div class="section_spacer"></div>
