<div id="home_section"></div>
<div style="background-color:rgb(214, 216, 219)">
  <%= render "welcome/carousel" %>
  
  <%= render "welcome/about_us" %>
</div>

<%= render "welcome/services" %>

<%= render "welcome/projects" %>

<%= render "welcome/clients" %>

<%= render "welcome/contact_us" %>

<%= render "welcome/links" %>

<script>
  window.onload = window.onresize = function () {
    // gets screen height of current device
    var screen_height = window.innerHeight - 60;
    screen_height = screen_height.toString() + "px";
    //$(".section_part").css("height", screen_height);
    if (window.innerWidth > 975) {
      $(".section_part").each(function(i, obj){
        obj.style.height = screen_height;
      });
    }
  }
</script>
