<!--- Bandaid fix as white div for now - Thanks, Justin! --->
<div style="background-color:rgb(214, 216, 219)">
  <%= render "welcome/carousel" %>
  
  <%= render "welcome/about_us" %>
</div>

<%= render "welcome/services" %>

<%= render "welcome/projects" %>

<%= render "welcome/clients" %>

<%= render "welcome/contact_us" %>

<%= render "welcome/links" %>
