<% if Post.find_by_tag("cover_image") %>
  <%= image_tag Post.find_by_tag("cover_image").image, class: :cover_image %>
<% end %>

<% if current_user and current_user.admin %>
  <%= link_to "Edit cover image", edit_post_path("cover_image"), class: :edit_cover_image_link %>
<% end %>

<div class="section_part" id="about_us_section">
  <center>
    <div class= "div1_about">
      <p class="about_us_text_1 justified_body_text">
        GSC Surveying, Inc. has been partnering with construction and engineering firms for over ten years with their site development and highway construction projects.  We apply traditional methods utilizing today’s technology to provide our clients the best service available.</br></br>

Established in 1999, GSC surveying brings over 30 years of combined construction survey experience to our clients.  We take pride in every project for each of our clients.  We believe that in teaming with the design group, the contractor, and all subcontractors to complete the project on schedule.  Whether it is providing information to an engineer for design, or staking for a contractor, we realize that the information we provide to the project is critical to the success of everyone involved.  By working as a team we know that each project can be a successful and profitable one for everyone.
      </p>
    </div>
    <div class= "div2_about">
      <p class="about_us_text_1 justified_body_text">
        GSC Surveying, Inc. was started in Raleigh, North Carolina in September of 1999 by Gregory Scott Crowder.  Originally concentrating on highway construction surveying, GSC Surveying, Inc. has expanded its services in all areas of surveying from construction to design surveys for engineering companies.

GSC Surveying, Inc. offers services in both Virginia and North Carolina and is a second generation surveying company with over thirty years of combined experience.  Greg began surveying in Virginia at the age of 9 with his father, Gene Crowder, who owned L.E. Crowder Construction, Inc.  He worked every summer with his father, learning the trade, until graduation from Old Dominion University in 1992.
      </p>
    </div>
  </center>
</div>

<div class="section_part" id="services_section">
</div>

<div class="section_part" id="projects_section">
</div>

<div class="section_part" id="clients_section">
</div>

<div class="section_part" id="contact_us_section">
  <div class="company_emails">
    <p style= font-size:18px;>
      Greg S. Crowder, President
      Registered Land Surveyor
      greg@gscsurveying.com

      Benjamin Andrews
      ben@gscsurveying.com

      Austin McCleery
      austin@gscsurveying.com

      Liz Carpenter Bayer, Office Manager
      liz@gscsurveying.com
    </p>
  </div>
  <div class= "facebook_icon">
    <%= link_to "http://www.facebook.com" do %>
      <%= image_tag "icons/facebook.png", width: "40%" %>
    <% end %>
  </div>
  <div class="twitter_icon">
    <%= link_to "http://www.twitter.com" do %>
      <%= image_tag "icons/twitter.png", width: "40%" %>
    <% end %>
  </div>
  <div class="instagram_icon">
    <%= link_to "http://www.instagram.com" do %>
      <%= image_tag "icons/instagram.png", width: "40%" %>
    <% end %>
  </div>

  <div class="google_maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.7142925526628!2d-78.63260468473706!3d35.83148498015967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58ea71c6eb91%3A0x6b3df7bae78983ea!2sGSC+Surveying+Inc!5e0!3m2!1sen!2sus!4v1485914436090" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
