<div style="background-color:rgb(214, 216, 219)">
  <%= render "welcome/carousel" %>
  
  <%= render "welcome/about_us" %>
</div>

<%= render "welcome/services" %>

<%= render "welcome/projects" %>

<%= render "welcome/clients" %>

<%= render "welcome/contact_us" %>

<%= render "welcome/links" %>

<script>
  var screen_height = window.innerHeight.toString() + "px";

  alert(screen_height);

  $(".section_part").css("height", screen_height);
</script>
