<!--- Bandaid fix as white div for now - Thanks, Justin! --->
<div style="background-color:white">
  <% if Post.find_by_tag("cover_image") %>
    <%= image_tag Post.find_by_tag("cover_image").image, class: :cover_image %>
  <% end %>
  <%= link_to "Edit cover image", edit_post_path("cover_image"), class: :edit_cover_image_link if admin? %>
  <%= render "welcome/about_us" %>
</div>
<div class="section_spacer"></div>

<%= render "welcome/services" %>
<!-- test -->

<div class="section_part" id="projects_section">
</div>
<div class="section_spacer"></div>

<%= render "welcome/clients" %>

<%= render "welcome/contact_us" %>
