<div class="dialog_modal" id="dialog_modal">
  <div class="project_card" id="project_card" align="center">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, root_url, class: :top_right_link %>
    <%= link_to "Edit project", edit_post_by_tag_path(@project.tag), class: :top_left_link if admin? %>
    <p class="project_title">
      <%= @project.body %>
    </p>
    <% for image in @project_images %>
      <div class="project_img_container">
        <%= link_to show_project_image_path(image.id), remote: true do %>
          <%= image_tag image.image, class: :project_img %>
        <% end %>
        <%= link_to "Edit", edit_post_path(image) if admin? %>
      </div>
    <% end %>
    <% if @project_images.empty? %>
      <p align="center">
        There aren't any images for this project.
      <p>
    <% end %>
    <%= link_to "Add another image",
      edit_post_by_tag_path(tag: "#{@project.tag + '_img' + (Post.all.size + 1).to_s}", project: @project.tag) if admin? %>
  </div>
  <div id="project_img_anchor"></div>
</div>
