<div class="dialog_modal" id="dialog_modal">
  <%= link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, root_url, class: "top_right_link white_link" %>
  <div class="service_dialog" align="center">
    <% case @service %>
      <% when "1" %>
        <style>
          .dialog_modal {
            background-image: url("/images/construction.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <h2 class="service_dialog_header" align="center">Construction Surveying</h2>
        <% ["Heavy Civil", "Highways", "Bridges", "Commercial Sites", "Utilities Layout & Asbuilt"].each do |service| %>
          <div class="service_dialog_txt">
            <%= service %>
          </div>
        <% end %>
      <% when "2" %>
        <style>
          .dialog_modal {
            background-image: url("/images/survey_backgroundGS.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <h2 class="service_dialog_header" align="center">Traditional Land Surveying</h2>
        <% ["Boundary", "Topographic", "ALTA/ACSM", "Location Surveys", "Geodetic & Site Survey Control",
          "Right-of-way, Easements & Utility Corridors", "Residential Subdivisions", "GIS Data Acquisition",
          "Commercial Developments", "Industrial & Airports", "Medical & Education Facilities",
          "Municipal, County, Sate & Federal"].each do |service| %>
          <div class="service_dialog_txt">
            <%= service %>
          </div>
        <% end %>
      <% when "3" %>
        <style>
          .dialog_modal {
            background-image: url("/images/uav/uav_5.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <h2 class="service_dialog_header" align="center">UAV (Drone) and 3D Scanning</h2>
        <% ["Topographic", "Aerial Imaging", "Structure Surveys & Inspections",
          "Earthwork, landfill, stock pile volume quantities", "Highways & Bridges", "Solar Farms", "Infrared Imaging",
          "Forensic & Accident Sites", "Agriculture Studies"].each do |service| %>
          <div class="service_dialog_txt">
            <%= service %>
          </div>
        <% end %>
      <% when "4" %>
        <style>
          .dialog_modal {
            background-image: url("/images/uav/uav_4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <h2 class="service_dialog_header" align="center">3D Modeling</h2>
        <% ["Machine Control DTM (Digital Terrain Model) Files", "Cut/Fill Maps", "Highways",
          "Commercial Sites"].each do |service| %>
          <div class="service_dialog_txt">
            <%= service %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
