<div class="nav_bar">
  <%= link_to (@you_are_home ? scroll_to_top_path : root_url), remote: @you_are_home do %>
    <%= image_tag "logo.png", class: :nav_logo %>
  <% end %>
  <% for section in ["About Us", "Services", "Projects", "Clients", "Contact Us"] %>
    <% section_id = section.downcase.gsub(" ", "_") + "_section" %>
    <%= link_to focus_to_section_path(section_id: section_id), remote: true do %>
      <div class="nav_section">
        <div class="nav_section_text">
          <%= section %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% if current_user %>
    <div class="signed_in_as">
      <div>
        Signed in as <%= current_user.name %>
      </div>
      <div class="log_out_nav_link">
        <%= link_to "Log out", sessions_destroy_path, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>

<div class="nav_spacing"></div>
