<div class="nav_bar">
  <%= link_to (@you_are_home ? scroll_to_top_path : root_url), remote: @you_are_home do %>
    <%= image_tag "logos/logo.png", class: :nav_logo %>
  <% end %>
  <% for section in ["Home", "About Us", "Services", "Projects", "Clients", "Contact Us", "Links"] %>
    <% section_id = section.downcase.gsub(" ", "_") + "_section" %>
    <%= link_to (@you_are_home ? focus_to_section_path(section_id: section_id) : root_url), remote: @you_are_home do %>
      <div class="nav_section">
        <div class="nav_section_text">
          <%= section %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% if current_user %>
    <%= link_to '<i class="fa fa-cog fa-2x"></i>'.html_safe, admin_path, class: :admin_nav_link %>
  <% end %>
</div>

<div class="nav_spacing"></div>
