<div class="card_spacer"></div>

<div class="card">
  <%= link_to "Back (admin)", admin_path, class: :top_right_link %>
  
  <% if @editing and @post.tag.include? "project_" %>
    <%= link_to "Delete project", destroy_post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: :top_left_link %>
  <% end %>
  
  <%= form_for(@post) do |f| %>
    <div class="posts_form" align="center">
      <p>
        <% if @editing %>
          You are editing content  
        <% else %>
          You are creating new content
        <% end %>
      </p>
      
		  <% if @post.section.eql? "projects" %>
        <p>
          Title: <%= f.text_field :title, placeholder: "Title (optional)", class: :standard_text_field %>
        </p>
      <% end %>
      
      <% unless @tag and (@tag.include? "carousel_img" or @tag.include? "clients_") %>
        <p>
          <%= f.text_area :body, placeholder: "Write your text here..." %>
        </p>
      <% end %>
      
      <% if @editing and @tag and @tag.include? "project_" %>
        <p>
          <%= link_to "Add another image",
      edit_post_by_tag_path(tag: "#{@post.tag + '_img' + (Post.all.size + 1).to_s}", project: @post.tag) %>
        </p>
      <% end %>
      
      <% if not @editing and @tag and @tag.include? "project_" %>
        <p>
          You can add images after the projects created.
        </p>
      <% end %>
      
      <% if @post.image.present? and not (@tag and @tag.include? "about_us_p") %>
        <p>
          <%= image_tag @post.image, width: "95%" %>
        </p>
      <% end %>
	    
	    <% unless @tag and (@tag.include? "about_us_p" or @tag.include? "project_") %>
	      <p>
		      Image: <%= f.file_field :image, style: "display: inline;" %>
		    </p>
		  <% end %>
      
      <% unless @editing and @tag and (@tag.include? "carousel_img" or @tag.include? "about_us_p") %>
        <% unless @tag and @tag.include? "project_" %>
          <p>
            URL: <%= f.text_field :url, placeholder: "URL linking to elsewhere...", class: :standard_text_field %>
          </p>
        <% end %>
		    
		    <% unless @editing and @tag and @tag.include? "clients_" %>
          <p>
            Tag: <%= f.text_field :tag, placeholder: "Tag text or image to a specific location...",
              class: :standard_text_field %>
          </p>
		      
		      <% unless @post.section.eql? "projects" %>
            <p>
              Project: <%= f.text_field :project, placeholder: "Tag content for a particular project...",
                class: :standard_text_field %>
            </p>
          <% end %>
		      
		      <% unless @post.project.present? %>
            <p>
	            Section: 
	            <% if @post.section.eql? "projects" %>
	              Projects
	              <%= hidden_field_tag :section, "projects" %>
	            <% else %>
	              <%= select_tag :section, options_for_select(section_options) %>
	            <% end %>
            </p>
          <% end %>
        <% end %>
      <% end %>
		  
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b><%= @editing ? "Update" : "Post" %> <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
