<div class="card_spacer"></div>

<div class="card">
  <%= link_to "Back (admin)", admin_path, class: :top_right_link %>
  <%= form_for(@post) do |f| %>
    <div align="center">
      <p>
        <% if @editing %>
          You are editing content  
        <% else %>
          You are creating new content
        <% end %>
      </p>
      <p>
        Title: <%= f.text_field :title, placeholder: "Title (optional)", class: :standard_text_field %>
      </p>
      
      <p>
        <%= f.text_area :body, placeholder: "Write your text here..." %>
      </p>
	    
		  Attach an image: <%= f.file_field :image %>
		  
      <p>
        Tag: <%= f.text_field :tag, placeholder: "Tag text or image to a specific location...",
          class: :standard_text_field %>
      </p>
		  
      <p>
        Project: <%= f.text_field :project, placeholder: "Tag content for a particular project...",
          class: :standard_text_field %>
      </p>
		  
      <p>
	      Section: <%= select_tag :section, options_for_select(section_options) %>
      </p>
		  
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b><%= @editing ? "Update" : "Post" %> <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
