<div class="card_spacer"></div>

<div class="card">
  <%= link_to "Back (admin)", admin_path, class: :top_right_link %>
  <%= form_for(@post) do |f| %>
    <div class="posts_form" align="center">
      <p>
        <% if @editing %>
          You are editing content  
        <% else %>
          You are creating new content
        <% end %>
      </p>
      
		  <% if @post.section.eql? "projects" %>
        <p>
          Title: <%= f.text_field :title, placeholder: "Title (optional)", class: :standard_text_field %>
        </p>
      <% end %>
      
      <p>
        <%= f.text_area :body, placeholder: "Write your text here..." %>
      </p>
      
      <% if @post.image.present? %>
        <p>
          <%= image_tag @post.image, width: "95%" %>
        </p>
      <% end %>
	    
	    <p>
		    Image: <%= f.file_field :image, style: "display: inline;" %>
		  </p>
      
      <p>
        URL: <%= f.text_field :url, placeholder: "URL linking to elsewhere...", class: :standard_text_field %>
      </p>
		  
      <p>
        Tag: <%= f.text_field :tag, placeholder: "Tag text or image to a specific location...",
          class: :standard_text_field %>
      </p>
		  
		  <% unless @post.section.eql? "projects" %>
        <p>
          Project: <%= f.text_field :project, placeholder: "Tag content for a particular project...",
            class: :standard_text_field %>
        </p>
      <% end %>
		  
		  <% unless @post.project.present? %>
        <p>
	        Section: 
	        <% if @post.section.eql? "projects" %>
	          Projects
	          <%= hidden_field_tag :section, "projects" %>
	        <% else %>
	          <%= select_tag :section, options_for_select(section_options) %>
	        <% end %>
        </p>
      <% end %>
		  
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b><%= @editing ? "Update" : "Post" %> <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
