<!DOCTYPE html>
<html>
<head>
  <title>GSC Surveying, Inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='//fonts.googleapis.com/css?family=Hind Madurai' rel='stylesheet'>
</head>
<body>

<div id="dialog_anchor"></div>

<%= render "app/nav_menu" %>
<%= render "app/nav_bar" %>

<%= render "pages/scroll_to_top" %>

<% flash.each do |name, msg| %>
  <div class="card_spacer"></div>
  <div class="card" align="center">
    <p><%= msg %></p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
